@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

body {
  background: pink;
}

.container {
  @include outer-container;
}


main {
  @include span-columns(9);
}

aside.sidebar {
  @include span-columns(3);
}


.posts {
  article {
    @include span-columns(3 of 9);

    figure {
      margin: 0;

      img {
        width: 100%;
      }
    }
  }
}
