html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  background: pink; }

.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

main {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }
  main:last-child {
    margin-right: 0; }

aside.sidebar {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  aside.sidebar:last-child {
    margin-right: 0; }

.posts article {
  float: left;
  display: block;
  margin-right: 3.16844%;
  width: 31.22104%; }
  .posts article:last-child {
    margin-right: 0; }
  .posts article figure {
    margin: 0; }
    .posts article figure img {
      width: 100%; }
