* {
  box-sizing: border-box; }

body {
  padding: 50px; }

.calculator {
  margin: 0 auto;
  width: 500px; }
  .calculator button {
    width: 25%;
    color: #FEFEFE;
    font-size: 18px;
    margin: 0;
    padding: 15px;
    background: #68B25B;
    display: block;
    float: left;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: 1px solid #81BF76;
    border-bottom: 1px solid #81BF76; }
  .calculator .answer {
    width: 75%;
    padding: 15px; }
  .calculator .operator {
    background: #85C07B;
    color: #000;
    border: none;
    outline: none;
    display: block; }
  .calculator .row {
    width: 100%;
    float: left; }
  .calculator .row::after {
    display: block;
    clear: both;
    content: ""; }
  .calculator .clear, .calculator .answer, .calculator .operator, .calculator .digit, .calculator .decimal {
    height: 80px; }
